body {
  margin: 8px;
}
div {
  padding-left: 8px;
}
div.header {
  margin: -8px -8px 0px;
  padding: 8px 12px;
  height: 40px;
  font: bold 26px sans-serif;
}
div.pass {
  background: #00CC00;
  color: white;
}
div.pend {
  background: #FFFF00;
  color: black;
}
div.fail {
  background: #CC0000;
  color: white;
}

div.summary {
  font: bold 16px sans-serif;
  float: right;
  clear: both;
}
div.timer {
  font: 12px sans-serif;
  float: right;
  clear: both;
}
h1 {
  font: bold 20px sans-serif;
}
h2 {
  margin: 16px 0 4px;
  padding: 4px;
  font: bold 16px sans-serif;
  background: #CC0000;
  color: white;
}
h3 {
  position: absolute;
  top: 0;
  margin: 0;
  background: red;
}
p {
  margin: 4px 0;
  padding: 4px 20px;
  border-left: 6px solid #00CC00;
  border-bottom: 1px solid #00CC00;
  background: #CCFF99;
  font: bold 16px sans-serif;
  color: #00CC00;
}
p.pend {
  background: #FFFF99;
  color: black;
  border-color: #FFFF00;
}
p.fail {
  background: #FFCCCC;
  color: #CC0000;
  border-color: #CC0000;
}
pre {
  font: 9pt/4pt monospace;
}